/*Definição de fontes*/

@font-face {
    font-family: "Poppins-Bold";
    src: url(fonts/Poppins-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Unbounded";
    src: url(fonts/Unbounded-VariableFont_wght.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Poppins-regular";
    src: url(fonts/Poppins-Regular.ttf);
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

/*Reset*/
* {
    margin: 0;
    padding: 0;
}

/*Estilo desktop*/
body {
    color: white;
    background-color: black;
    font-family: "Poppins-Regular";
    font-weight: 400;
}

header img {
    margin-left: 360px;
    margin-top: 75px;
}

h1 {
    font-family: "Unbounded", sans-serif;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    display: block;
    margin-top: 60px;
}

h1 span {
    color: #9747FF;
}

p {
    font-family: "Poppins-Regular", sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    margin: 24px auto;
    display: block;
    width: 792px;
    height: 72px;
}


a {
    display: flex;
    background-color: #9747FF;
    width: 340px;
    height: 66px;
    text-decoration: none;
    color: white;
    border-radius: 36px;
    text-align: center;
    justify-content: center;
    align-items: center;
    /*line-height: 66px;*/
    font-size: 24px;
    margin: 40px auto 40px;
    
}
a:hover {
    background-color: #8233E8;
}

section img {
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}






/*estilo tablet*/

@media(max-width: 768px){

    header img {
        margin-left: 60px;
        margin-top: 65px;
    }

    h1 {
        font-size: 64px;
        margin-top: 72px;
    }

    p {
        font-size: 24px;
        width: 648px;
        height: 108px;
    }

    a {
        width: 340px;
        height: 66px;
        
    }

    section img {
        width: 659.5px;
        height: 446px;
        
    }
}

/*estilo celular*/

@media(max-width: 375px){
    header img {
        margin-left: 16px;
        margin-top: 32px;
    }

    h1 {
        font-size: 40px;
        display: block;
        margin-top: 72px;
    }

    p {
        font-size: 20px;
        width: 341px;
    
    }

    a {
        width: 251px;
        font-size: 20px;
    }

    section img {
        width: 341px;
        height: 230.61px;
    }
}



